# Appending pandas Series

In [1]:
# Import pandas
import pandas as pd

# Load 'sales-jan-2015.csv' into a DataFrame: jan
jan = pd.read_csv("sales-jan-2015.csv",index_col="Date",parse_dates=True)

# Load 'sales-feb-2015.csv' into a DataFrame: feb
feb = pd.read_csv("sales-feb-2015.csv",index_col="Date",parse_dates=True)

# Load 'sales-mar-2015.csv' into a DataFrame: mar
mar = pd.read_csv("sales-mar-2015.csv",index_col="Date",parse_dates=True)

# Extract the 'Units' column from jan: jan_units
jan_units = jan['Units']

# Extract the 'Units' column from feb: feb_units
feb_units = feb['Units']

# Extract the 'Units' column from mar: mar_units
mar_units = mar['Units']

# Append feb_units and then mar_units to jan_units: quarter1
quarter1 = jan_units.append(feb_units).append(mar_units)

# Print the first slice from quarter1
print(quarter1.loc['jan 27, 2015':'feb 2, 2015'])

Date
2015-01-27 07:11:55    18
2015-02-02 08:33:01     3
2015-02-02 20:54:49     9
Name: Units, dtype: int64

In [2]:
# Print the second slice from quarter1
print(quarter1.loc["feb 26, 2015":"mar 7, 2015"])

Date
2015-02-26 08:57:45     4
2015-02-26 08:58:51     1
2015-03-06 02:03:56    17
2015-03-06 10:11:45    17
Name: Units, dtype: int64

In [3]:
# Compute & print total sales in quarter1
print(quarter1.sum())

642

# Concatenating pandas Series along row axis

In [4]:
# Initialize empty list: units
units = []

# Build the list of Series
for month in [jan, feb, mar]:
    units.append(month["Units"])

# Concatenate the list: quarter1
quarter1 = pd.concat(units,axis="rows")

# Print slices from quarter1
print(quarter1.loc['jan 27, 2015':'feb 2, 2015'])
print(quarter1.loc['feb 26, 2015':'mar 7, 2015'])

Date
2015-01-27 07:11:55    18
2015-02-02 08:33:01     3
2015-02-02 20:54:49     9
Name: Units, dtype: int64
Date
2015-02-26 08:57:45     4
2015-02-26 08:58:51     1
2015-03-06 02:03:56    17
2015-03-06 10:11:45    17
Name: Units, dtype: int64

# Concatenating pandas DataFrames along column axis

In [5]:
weather_max=pd.read_csv("weather_max.csv",index_col=0)
weather_max.head()

     Max TemperatureF
Apr                89
Jan                68
Jul                91
Oct                84

In [6]:
weather_mean=pd.read_csv("weather_mean.csv",index_col=0)
weather_mean.head()

     Mean TemperatureF
Apr          53.100000
Aug          70.000000
Dec          34.935484
Feb          28.714286
Jan          32.354839

In [7]:
# Create a list of weather_max and weather_mean
weather_list = [weather_max,weather_mean]

# Concatenate weather_list horizontally
weather = pd.concat(weather_list,axis=1)

# Print weather
print(weather)

     Max TemperatureF  Mean TemperatureF
Apr              89.0          53.100000
Aug               NaN          70.000000
Dec               NaN          34.935484
Feb               NaN          28.714286
Jan              68.0          32.354839
Jul              91.0          72.870968
Jun               NaN          70.133333
Mar               NaN          35.000000
May               NaN          62.612903
Nov               NaN          39.800000
Oct              84.0          55.451613
Sep               NaN          63.766667

C:\Users\SMIT SHAH\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

# Reading multiple files to build a DataFrame

In [9]:
#Initialize an empyy list: medals
medals =[]
medal_types=["bronze","silver","gold"]
for medal in medal_types:
    # Create the file name: file_name
    file_name = "%s_top5.csv" % medal
    # Create list of column names: columns
    columns = ['Country', medal]
    # Read file_name into a DataFrame: medal_df
    medal_df = pd.read_csv(file_name,index_col="Country")
    # Append medal_df to medals
    medals.append(medal_df)

# Concatenate medals horizontally: medals_df
medals_df = pd.concat(medals,keys=["bronze","silver","gold"])

# Print medals_df
print(medals_df)

                        Total
       Country
bronze France           475.0
       Germany          454.0
       Soviet Union     584.0
       United Kingdom   505.0
       United States   1052.0
silver France           461.0
       Italy            394.0
       Soviet Union     627.0
       United Kingdom   591.0
       United States   1195.0
gold   Germany          407.0
       Italy            460.0
       Soviet Union     838.0
       United Kingdom   498.0
       United States   2088.0

# Concatenating vertically to get MultiIndexed rows

In [10]:
medals=[]

In [11]:
for medal in medal_types:

    file_name = "%s_top5.csv" % medal
    
    # Read file_name into a DataFrame: medal_df
    medal_df = pd.read_csv(file_name,index_col="Country")
    
    # Append medal_df to medals
    medals.append(medal_df)
    
# Concatenate medals: medals
medals = pd.concat(medals,keys=["bronze","silver","gold"])

# Print medals in entirety
print(medals)

                        Total
       Country
bronze France           475.0
       Germany          454.0
       Soviet Union     584.0
       United Kingdom   505.0
       United States   1052.0
silver France           461.0
       Italy            394.0
       Soviet Union     627.0
       United Kingdom   591.0
       United States   1195.0
gold   Germany          407.0
       Italy            460.0
       Soviet Union     838.0
       United Kingdom   498.0
       United States   2088.0

# Slicing MultiIndexed DataFrames

In [12]:
# Sort the entries of medals: medals_sorted
medals_sorted = medals.sort_index(level=0)

# Print the number of Bronze medals won by Germany
print(medals_sorted.loc[('bronze','Germany')])

# Print data about silver medals
print(medals_sorted.loc['silver'])

# Create alias for pd.IndexSlice: idx
idx = pd.IndexSlice

# Print all the data on medals won by the United Kingdom
print(medals_sorted.loc[idx[:,"United Kingdom"],:])

Total    454.0
Name: (bronze, Germany), dtype: float64
                 Total
Country
France           461.0
Italy            394.0
Soviet Union     627.0
United Kingdom   591.0
United States   1195.0
                       Total
       Country
bronze United Kingdom  505.0
gold   United Kingdom  498.0
silver United Kingdom  591.0

# Concatenating DataFrames from a dict

In [13]:
# Make the list of tuples: month_list
month_list = [("january",jan),("february",feb),("march",mar)]

# Create an empty dictionary: month_dict
month_dict = {}

for month_name, month_data in month_list:

    # Group month_data: month_dict[month_name]
    month_dict[month_name] = month_data.groupby("Company").sum()

# Concatenate data in month_dict: sales
sales = pd.concat(month_dict)

# Print sales
print(sales)

# Print all sales by Mediacore
idx = pd.IndexSlice
print(sales.loc[idx[:, 'Mediacore'], :])

                          Units
         Company
february Acme Coporation     34
         Hooli               30
         Initech             30
         Mediacore           45
         Streeplex           37
january  Acme Coporation     76
         Hooli               70
         Initech             37
         Mediacore           15
         Streeplex           50
march    Acme Coporation      5
         Hooli               37
         Initech             68
         Mediacore           68
         Streeplex           40
                    Units
         Company
february Mediacore     45
january  Mediacore     15
march    Mediacore     68

# Concatenating DataFrames with inner join

In [14]:
bronze=pd.read_csv("bronze_top5.csv",index_col="Country")
gold=pd.read_csv("gold_top5.csv",index_col="Country")
silver=pd.read_csv("silver_top5.csv",index_col="Country")

In [15]:
# Create the list of DataFrames: medal_list
medal_list = [bronze,silver,gold]

# Concatenate medal_list horizontally using an inner join: medals
medals = pd.concat(medal_list,keys=["bronze","silver","gold"],axis=1,join="inner")

# Print medals
print(medals)

                bronze  silver    gold
                 Total   Total   Total
Country
Soviet Union     584.0   627.0   838.0
United Kingdom   505.0   591.0   498.0
United States   1052.0  1195.0  2088.0

# Resampling & concatenating DataFrames with inner join

In [16]:
china=pd.read_csv("china.csv",index_col=0)
us=pd.read_csv("us.csv",index_col=0)

In [17]:
china.index = pd.to_datetime(china.index)

In [18]:
us.index = pd.to_datetime(us.index)

In [19]:
# Resample and tidy china: china_annual
china_annual = china.resample("A").last().pct_change(10).dropna()

# Resample and tidy us: us_annual
us_annual = us.resample("A").last().pct_change(10).dropna()

# Concatenate china_annual and us_annual: gdp
gdp = pd.concat([china_annual,us_annual],axis=1,join="inner")

# Resample gdp and print
print(gdp.resample('10A').last())

               China        US
1971-12-31  0.988860  1.052270
1981-12-31  0.972048  1.750922
1991-12-31  0.962528  0.912380
2001-12-31  2.492511  0.704219
2011-12-31  4.623958  0.475082
2021-12-31  3.789936  0.361780